@import '../ui/select.scss';

.textarea.input {
  height: 5rem;
}

.data-select {
  display: flex;
  gap: 1rem;
}

.data-select > select {
  height: 45px;
  padding: 0.5rem 0.75rem;
  height: 50px;
  font-size: 1rem;
  width: 100%;
  max-width: fit-content;
  padding: 0.75rem;
  border: 0;
  background-color: $light-blue;
  border-bottom: 2px solid $blue-secondary;
  color: $blue-secondary;
  cursor: pointer;
}