<div class="profile-page container">
  <header class="profile-page__header">
    <div class="profile-page__inner-cover">
      <div class="profile-page__profile-picture">
        <span><%= current_user.username.slice(0).upcase %></span>
      </div>
    </div>
  </header>
  <section class="profile-page__info-section">
    <h2><%= current_user.username %></h2>
    <div class="info-section__name">
      <span>Isaac Alencar</span>
    </div>
    <div class="info-section__bio">
      <span>
        Eu tenho uma bio muito legal, toda vez que estou prestes a escrever algo
        pra por nela, é muito comum eu esquecer, pq a mente faz isso mesmo
      </span>
    </div>
  </section>
  <section class="profile-page__comments">
    <h2>Comments</h2>
    <ul class="comments__list">
      <li class="comments__item">
        <div class="item__commenter-avatar">
          A
        </div>
        <span class="item__content">
          Eu tenho um comentário muito legal, toda vez que estou 
          prestes a escrever alg, é muito comum eu esquecer, 
          pq a mente faz isso mesmo
        </span>
      </li>
      <li class="comments__item">
        <div class="item__commenter-avatar">
          A
        </div>
        <span class="item__content">
          Eu tenho um comentário muito legal, toda vez que estou 
          prestes a escrever alg, é muito comum eu esquecer, 
          pq a mente faz isso mesmo
        </span>
      </li>
    </ul>
    <div class="comments__form">
      <textarea class="comments__textarea input" placeholder="Left a comment on this profile"></textarea>
      <button type"button" class="comments__form button">Comment</button>
    </div>
  </section>
</div>
