<div class="home-page container">
  <div class="home-page welcoming">
    <h1 class="home-page heading">Welcome to Rate Your Boox</h1>
    <div class="home-page actions">
      <%= link_to 'Sign in', new_user_session_path, class: 'button' %>
      <%= link_to 'Sign up', new_user_registration_path, class: 'button secondary' %>
    </div>
  </div>
  <aside class="home-page bg-cover-container">
    <img src="assets/background.jpeg" class="home-page bg-cover-img" alt="library" />
  </aside>
</div>
