<div class="home-page container">
  <div class="home-page welcoming">
    <h1 class="home-page heading">Welcome to Rate Your Boox</h1>
    <div class="home-page actions">
      <%= link_to 'Sign in', new_user_session_path, class: 'button' %>
      <%= link_to 'Sign up', new_user_registration_path, class: 'button secondary' %>
    </div>
  </div>
  <aside class="home-page bg-cover-container">
    <img src="https://images.unsplash.com/photo-1571688144157-25db897a81ad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" class="home-page bg-cover-img" alt="library section">
  </asied>
</div>
