.select,
select#book_author_id {
  height: 45px;
  padding: 0.5rem 0.75rem;
  height: 50px;
  font-size: 1rem;
  width: 100%;
  padding: 0.75rem;
  background-color: $light-blue;
  border: 0;
  border-bottom: 2px solid $blue-secondary;
  cursor: pointer;
}
