.book-card {
  margin: 1rem 0;
  background-color: $slate-black;
  padding: 1rem 0.5rem;
  cursor: pointer;

  .book-info.title {
    font-size: 1.5rem;
    font-weight: 400;
    color: $background;
  }

  .book-info.author-name {
    font-size: 1rem;
    font-weight: 400;
    color: $slate-black;
  }
}

.comments {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  position: relative;
  background-color: $slate-black;
  padding: 1rem;

  .commenter-avatar {

    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    max-width: 24px;
    max-height: 24px;
    border-radius: 50%;
    font-size: 1rem;
    color: $white;
    background-color: $dark-blue;

    span {
      display: block;
    }
  }
  .item__content {
    font-size: 0.7rem;
    line-height: 1;
    color: $background;
  }
}