$blue-primary: #0077b6;
$light-blue: #edf6f9;
$blue-secondary: #023e8a;
$dark-blue: #03045e;
$background: #f8f9fa;
$white: #ffffff;
$danger: #d62828;
$danger-alpha: #d628289e;
$success: #06d6a0;
$success-alpha: #06d6a09e;
$slate-black: #293241;
$black: #212529;
$gray: #adb5bd;
$text-primary: #343a40;
$text-secondary: $gray;